Incorrect use of SRV with http:// URLs

As pointed out by Garrett Wolmann in private e-mail, using a repository URL
of the form:

```
    http://pkg-test.freebsd.org/...
```

Where the hostname part should be resolved by a SRV record in the DNS, eg:

```
_http._tcp.pkg-test.freebsd.org. 120 IN SRV 10 10 80 pkg1.nyi.freebsd.org.
```

is incorrect according to the specification of http:// URIs in RFC 2616 [Section 3.2.2](https://tools.ietf.org/html/rfc2616#section-3.2.2)

The correct mechanism is to follow [RFC 4395](http://tools.ietf.org/html/rfc4395) and register  our own pkg specific service types.  See:

https://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml#uri-schemes-2

so, for example we could have URLs of the form

```
   pkg://pkg-test.freebsd.org/
```

or

```
   pkg+http://pkg-test.freebsd.org/
```

and DNS SRV records like:

```
_pkg+http._tcp.pkg-test.freebsd.org. 120 IN SRV 10 10 80 pkg1.nyi.freebsd.org.
```

It would be good to have some way of specifying the transport protocol (HTTP, HTTPS, FTP, SSH, file etc.) for each of the alternate sites specified in the SRV RR data so this may be discovered automatically, but I can't see a way to do that well: intuiting from the port number in the SRV RR data is feasible, but too inflexible.
